.titlemain{
    margin: auto;
    align-items: center;
    width: 30%;
    height: 33px;
    background-color: #EEEEEE;
    font-size: 25px;
}
.centemain{
    width: 100%;
    float: left;
}
.Shadowmain{
  width: 30%;
  margin: auto;
  background-image: linear-gradient(to right, #EEEEEE, black, #EEEEEE);
  height: 2px;
  font-size: 1px;
}