.titleabout {
  margin-left: 20%;
  align-items: center;
  width: 35%;
  height: 33px;
  background-color: #EEEEEE;
  font-size: 25px;
}

.centeabout {
  width: 100%;
  float: left;
}

.Shadowabout {
  width: 100%;
  background-image: linear-gradient(to right, #EEEEEE, black, #EEEEEE);
  height: 2px;
  font-size: 1px;
}