.title2{
    width: 73%;
    margin:auto;
    resize: none;
}
.titletablepp{
    width: 100%;
    height: 22px;
    background-image: linear-gradient(#EEEEEE,white);
}
ul{
    list-style-type: none;
}
.sbutton{
    float: right;
}
.Posty{
    float:left;
    margin-top: 100px;
}