.tabb{
    background-color: white;
    float: left;    
    width: 75%;
    height: auto;
}
.opis{
    float:left;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    background-color: white;
}
.X{
    float: right;
    margin-right: 10%;
}
.posthead{
    background-image: linear-gradient(rgb(185, 185, 255),#eeeeee);
}