.descriptionx{
    width: 96%;
    height: 22px;
}
.titletable{
    background-image: linear-gradient(#EEEEEE,#FFFFFE);
    margin-left: -4%;
    float: left;
    width: 104%;
}
.descript{
    align-content: center;
    float:left;
    width: 96%;
    word-wrap: break-word;
}
.X{
    float: right;
}