.head{
  height: 40px;
  background-color: #333333;
}
.LRlist{
  height: 350px;
  background-image: linear-gradient(to right, blue, pink);
}
.App {
  text-align: center;
}
.Rightsite{
  width: 25%;
  background-color: #EEEEEE;
  float: right;
  height: 100%;
}
.Leftsite{
  width: 75%;
  float: left;
  height: 100%;
}
.tekst{
  width: 400px;
}